{% extends 'appbase.html' %}

{% block content %}
<div class="abs">
  <div class="rel">
    <p>Filmy kunderskie</p>
  </div>
  <div class="search-carousel">
    <form id="search" name="search" method="POST">
      {{ search_form.csrf_token }}
      <div class="input-group">
        {{ search_form.search_text(class_="form-search-text form-control", placeholder_="Szukaj", value=request.args.get('search', '')) }}
        <div class="input-group-append">
          <button type="submit" class="btn btn-dark btn-search-submit" name="search_submit" value="search_submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-dark btn-search-reset" name="search_reset" value="search_reset"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="rel soft-page">
    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        {% for film in films %}
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ loop.index-1 }}"
          class="{% if loop.index == 1 %} active {% endif %}"></button>
        {% endfor %}
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <form method="POST" id="descriptions" name="descriptions">
          {% for film in films %}
          <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
            <div class="in-carousel flex">
              <div class="image-container cover">
                <img class="poster d-block cover" src="{{ api_link(film.img) }}">
                <div class="gradient-layer"></div>
                <div class="description">{{film.orig_title}}, {{film.year}}, {{film.runtime}}'</div>
              </div>
              <div class="descr">
                {{ ckeditor.create(name=film.id, value=film.descr) }}
              </div>
            </div>
          </div>
          {% endfor %} {{ ckeditor.load() }}
          {% if not session.get("logged", False) %}
            {% for film in films %}
              {{ ckeditor.config(name=film.id, height=300, custom_config="uiColor: '#FFFFFF', readOnly: 1") }}
            {% endfor %}
          {% else %}
            {% for film in films %}
              {{ ckeditor.config(name=film.id, height=300, custom_config="uiColor: '#058F68', readOnly: 0") }}
            {% endfor %}
          {% endif %}
        </form>
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-button carousel-control-prev" type="button" data-bs-target="#carousel"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-button carousel-control-next" type="button" data-bs-target="#carousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

  </div>

</div>
{% endblock %}