.form-search-text {
  height: 45px;
  margin-top: 2.5px;
}

.btn-search-submit {
  width: 50px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  ;
}

.btn-search-reset {
  width: 50px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  ;
}

.btn-search-submit:hover {
  background-color: #383838 !important;
  border-color: #292929 !important;
}

.btn-search-reset:hover {
  background-color: #383838 !important;
  border-color: #292929 !important;
}

.btn-dark,
.btn-dark:active,
.btn-dark:visited,
.btn-dark:focus {
  background-color: #292929 !important;
  border-color: #292929 !important;
}

.search-carousel {
  max-width: 500px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-button {
  width: 5% !important;
}

.cover {
  background-image: url('/static/images/missing.jpg');
  height: 420px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.descr {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 5px;
  min-width: 74%;
  min-height: 200px;
  background-color: #292929;
  font-family: 'Cambria';
  color: white;
}

.in-carousel {
  min-height: 440px;
  margin: 20px
}