{% extends 'appbase.html' %}

{% macro static_link(img) -%}
/static/images/{{ img }}
{%- endmacro %}

{% block content %}
<div class="abs">
  <div class="rel">
    <p>Ile Natka ma Kundery?</p>
  </div>
  <div class="rel soft-page">
    <div>
          <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="10"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="in-carousel center flex">
            <p class="force-white">Cześć!</p>
            <textarea disabled class="descr">Przewijaj by sprawdzić co Natka myśli o wybranych pozycjach</textarea>
          </div>
        </div>
        {% for book in books %}
        <div class="carousel-item">
          <div class="in-carousel flex" >
            <img src="{{ static_link(book.img) }}" alt="{{ book.name }}" class="d-block cover">
            <textarea disabled class="descr">Jak poprosisz ładnie Natkę, to ci tu napisze opinię o tym Kunderze...</textarea>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    </div>

  </div>
</div>

  
  
{% endblock %}