.small-text{
 font-size: 2.5vh;
}

.force-white {
  margin-left: auto;
  width: 250px;
  height: 423px;
  color: white !important;
  padding-top: 150px;
  font-size: 72px;
}

.center {
  margin-left: auto;
  margin-bottom: auto;
}

.submit {
  background: #292929 !important;
}

.form-center {
  margin-left: auto;
  margin-right: auto;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
  top: 12%;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: -25px;
  width: 80%;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

.soft-page {
  margin-bottom: 20px;
  min-height: 440px;
  background: #292929;
  box-shadow: 2px 2px 9px #cccccc,
    -2px -2px 9px #cccccc;
}

h2 {
  font-family: 'Cambria';
  font-size: 40px;
  margin-left: 10px;
  word-wrap: normal;
  text-align: left;
  color: white !important;
}

p {
  color: white;
  font-family: "serif";
  overflow: hidden;
  font-family: 'Cambria';
  font-size: 40px;
  word-wrap: break-word;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(0deg,
      hwb(163 0% 65%) 0%,
      hwb(163 2% 44%) 30%,
      hwb(163 2% 40%) 60%,
      hwb(163 2% 44%) 80%,
      hwb(163 0% 65%) 100%);
    }