{% extends 'base.html' %}

{% macro static_link(img) -%}
/static/images/{{ img }}
{%- endmacro %}

{% macro api_link(img) -%}
https://image.tmdb.org/t/p/original/{{ img }}
{%- endmacro %}

{% block navbar %}

<div id="slide">
    <div class="slider-abs pt-3">
        <div class="rel pt-5">
            <p class="slider-title">Natkapp®</p>
        </div>
        {% if session.get("logged", False) %}
        <div class="rel pt-4">
            <a href="{{ url_for('logout') }}">
                <button type="button" class="btn btn-dark slider-btn">Wyloguj się</button>
                <button type="button" class="btn btn-dark slider-icon"><h4 class="slider-icon-txt">❌</h4></button>
            </a>
        </div>
        <div class="rel pt-1">
        {% else %}
        <div class="rel pt-4">
        {% endif %}
            <a href="{{ url_for('index') }}">
                <button type="button" class="btn btn-dark slider-btn">Index</button>
                <button type="button" class="btn btn-dark slider-icon"><h4 class="slider-icon-txt">&#10002</h4></button>
            </a>
        </div>
        <div class="rel pt-1">
            <a href="{{ url_for('movies.movies') }}">
                <button type="button" class="btn btn-dark slider-btn">Movies</button>
                <button type="button" class="btn btn-dark slider-icon"><h4 class="slider-icon-txt">📚</h4></button>
            </a>
        </div>
        <div class="rel pt-1">
            <a href="{{ url_for('auth.login') }}">
                <button type="button" class="btn btn-dark slider-btn">Music</button>
                <button type="button" class="btn btn-dark slider-icon"><h4 class="slider-icon-txt">🎬</h4></button>
            </a>
        </div>
        {% if not session.get("logged", False) %}
            <div class="rel pt-1">
                <a href="{{ url_for('auth.login') }}">
                    <button type="button" class="btn btn-dark slider-btn">Login</button>
                    <button type="button" class="btn btn-dark slider-icon"><h4 class="slider-icon-txt">🥵</h4></button>
                </a>
            </div>
        {% endif %}
        {% if session.get("logged", False) %}
            <div class="rel pt-1">
                <button id="submitButtonText" type="submit" class="btn btn-dark slider-btn">Zapisz zmiany!</button>
                <button id="submitButtonIcon" type="submit" class="btn btn-dark slider-icon"><h4 class="slider-icon-txt">✅</h4></button>
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='scripts/onSave.js') }}"></script>
      {% endif %}
    </div>
  </div>

<div class="messages pt-4">
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <div class="success">
            <span id="tickbtn" class="closebtn-success">&#x2713</span>
            <script type="text/javascript" src="{{ url_for('static', filename='scripts/onHide.js') }}"></script>
            {{ message }}
        </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="errors p-4">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <ul class=flashes>
        {% for error in errors %}
            <div class="error">
                <span id="closebtn" class="closebtn-error">&#x2717</span>
                <script type="text/javascript" src="{{ url_for('static', filename='scripts/onHide.js') }}"></script>
                <span> {{ error }} </span>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}